/* INDEX POSITION FIX */

.glass-header{
    margin:10px auto;
    padding:12px 20px;
    position:relative;
}


.hero{
    width:90%;
    margin:0 auto;
    padding:0;
}


.glass-box{
    padding:20px;
    margin-top:10px;
    margin-bottom:20px;
}


.cards{
    margin-top:15px;
    gap:15px;
    justify-content:center;
}


.card{
    width:210px;
    padding:18px;
}
